@import 'colors';

.contact{
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color:$second;

    >main{
        background-color: #fff;
        height: 40rem;
        width: 70%;
        padding: 3rem;
        border-radius: 0 200px 200px 0;

        >form{
            margin: 5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            >div{
                height: 3rem;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 60%;
                margin: 0.5rem;

                >label{
                    font: 400 1.2rem $text1;
                    width:20%;
                    margin: 0 1rem;
                }
                >input{
                    align-self: stretch;
                    width: 80%;
                    padding: 1rem;
                    border-radius: 0 10px 0 10px;
                    border: 1px solid rgba(123,123,123,0.6);
                    outline: none;
                }
            }
            >button{
                margin: 3rem 0;
                padding: 0.7rem;
                border: none;
                border-radius: 0 7px 7px 0;
                background-color: $second;
                color: #fff;
                width: 200px;
                font: 500 1rem $text1;
                &:hover{
                    background: #ff96ad;
                    box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;
                }
            }
        }
    }
}